<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyrics.ecs.mapper.YearlyExpensesMapper">

    <select id="selectByCondition" resultType="com.lyrics.ecs.bean.po.expense.YearlyExpensesPo"
            parameterType="com.lyrics.ecs.bean.req.expense.YearlyExpensesReq">
        SELECT * FROM yearly_expenses
        <where>
            <if test="year != null">
                AND year = #{year}
            </if>
            <if test="yearlyTotal != null">
                AND yearly_total LIKE CONCAT('%', #{yearlyTotal}, '%')
            </if>
            <if test="years != null and not years.isEmpty()">
                AND year IN
                <foreach collection="years" item="year" open="(" close=")" separator=",">
                    #{year}
                </foreach>
            </if>

            <if test="key != null and key != ''">
                AND (
                year LIKE CONCAT('%', #{key}, '%')
                OR yearly_total LIKE CONCAT('%', #{key}, '%')
                )
            </if>
        </where>
        ORDER BY year DESC

    </select>
</mapper>
