<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyrics.ecs.mapper.system.CCodeMapper">
    <insert id="insertInfo">
        INSERT INTO c_code ( id, category, code, `describe`, create_by, create_time, update_by, update_time )
        VALUES ( #{id},
        <if test="category==null or category==''">
            'CATEGORY',
        </if>
        <if test="category!=null and category!=''">
            #{category},
        </if>
        #{code},#{describe},#{createBy},#{createTime},#{updateBy},#{updateTime} )
    </insert>
    <update id="updateInfoById">
        UPDATE c_code
        SET
        <if test="category != null">category = #{category},</if>
        <if test="code != null">code = #{code},</if>
        <if test="describe != null">`describe` = #{describe},</if>  <!-- 保留字转义 -->
        <if test="updateBy != null">update_by = #{updateBy},</if>
        <if test="updateTime != null">update_time = #{updateTime}</if>  <!-- 最后一个字段不加逗号 -->
        WHERE
        id = #{id}  <!-- 必传主键，确保更新范围 -->

    </update>


    <select id="selectByCondition" resultType="com.lyrics.ecs.bean.po.system.CCodePo">
            SELECT *
            FROM c_code
            <where>
                <!-- category等值查询 -->
                <if test="condition.category != null and condition.category != ''">
                    AND category = #{condition.category}
                </if>

                <!-- code等值查询 -->
                <if test="condition.code != null and condition.code != ''">
                    AND code = #{code}
                </if>

                <!-- describe等值查询 -->
                <if test="condition.describe != null and condition.describe != ''">
                    AND `describe` = #{condition.describe}
                </if>

                <!-- key模糊查询，同时匹配category、code、describe三个字段 -->
                <if test="condition.key != null and condition.key != ''">
                    AND (
                    category LIKE CONCAT('%', #{condition.key}, '%')
                    OR code LIKE CONCAT('%', #{condition.key}, '%')
                    OR `describe` LIKE CONCAT('%', #{condition.key}, '%')
                    )
                </if>
            </where>

            order by update_time desc

    </select>
    <select id="selectCategorySelector" resultType="com.lyrics.ecs.bean.resp.system.CCodeResp">
        select * from c_code
        <where>
            <if test="category!=null and category!=''">
                category=#{category}
            </if>
            <if test="category==null or category==''">
                category='category'
            </if>
        </where>

        order by update_time desc
    </select>
</mapper>
